#Ignore files created by make commands
*.byte
*.cmi
*.cmo
*.cmx
*.native
*.o
*.a
*.cmxa
*.opt

#Ignore files created by editors
*.swp

#Ignore emacs autosave
*~

*.omc
*.run
/.omakedb
/.omakedb.lock
*.kate-swp
