docs
*.omc
.omakedb
.omakedb.lock
/src/output/tmp_rvg.dot
/external_tools/*

#Ignore git patch files
*.patch
#Ignore Koat output
*.dot
*.png
#Ignore txt files
*.txt

gmon.out
perf.data*
*.output
*.koatoutput
